body{
    background-color: gray;
    color: white;
    margin: 15px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    max-width: 500px;
    padding: 15px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
}
nav{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-bottom: solid black 1px;
    
}
img{
    width: 100px;
    height: auto;
    float: right;
    border: solid black 1px;
    clear:right;
    overflow: auto;
    margin: 3px;
}
footer{
    text-align: center;
}